body{
margin: 0 -2px 0 -2px;
}

#formconnexion{
text-align:right;
}

#titre{
font-size:50px;

}

.well{
text-align:center;
}

#titre2{
color:#08c;
font-size:25px;


}

.photocadre
{
width:150px;
height:150px;

}

.imagemin{
max-height:150px;
max-width:150px;

}

.imagecaro{

max-width:800px;

}

.utilisateurs
{
width:100px;
}

.titrealbum
{
width:150px;
}

.titrephoto
{
width:150px;
}

.description
{
width:400px;
}

.dateajout
{
width:100px;
}

.datemodif
{
width:100px;
}

.formulaire input{

width:90%;
}
#myCarousel{
height:400px;
width:800px;

}

.nav{

}