body{
    margin-top: 80px 
}
#formconnexion{
    text-align:right;
}

#titre{
    font-size:50px;
}

#banniere{
    position: fixed;
    left: 0;
    right: 0;
    top:0;
}

.well{
    text-align:center;
    background: #292829;
    font-weight: bold;
    box-shadow: 0px 5px 5px #000;
    color:#FFF;
    border: none;
    font-family: 'Marcellus SC', serif;
    border-radius: 0;
}

.titre2{ 
    font-size:25px;
}

.photocadre{
    width:15%;
}

.imagemin{
    max-height:150px;
    max-width:150px;
}

.imagecaro{
    max-width:800px;
}

.utilisateurs{
    width:10%;
}

.titrealbum{
    width:10%;
}

.titrephoto{
    width:10%;
}

.description{
    width:20%;
}

.dateajout{
    width:12%;
}

.datemodif{
    width:12%;
}

.options{
    width:15%;
}

.partage{
    width: 12%;
}


.partage img{
    background: none;
    width:  50%

}

.formulaire input{
    width:90%;
}

#myCarousel{
    height:400px;
    width:800px;
    margin: 0 auto;
}

span.btn{
    cursor: default;
}

.btn-,.label-{
    display: none
}

td button,td img{
    width: 100%;
}

img{
    background: #CCCCCC;
}

tr:hover{
    background: #DFF0D8;
}

.optAdmin{
    position: absolute;
    top: 16px;
    right: 15px
}

.form-horizontal textarea{
    width: 320px;
    height: 250px
}

.form-horizontal input[type=text], .form-horizontal input[type=password]{
    width: 320px;
}

.tableright img{
    margin: 0 25%
}
.tabdetails th{
    width: 30%
}

.tabdetails td{
    text-align: center
}

.tabdetails img{
    width: auto;
    max-height: 400px;
}