body{
    
}

#formconnexion{
    text-align:right;
}

#titre{
    font-size:50px;

}

.well{
    text-align:center;
}

#titre2{
    color:#08c;
    font-size:25px;


}

.photocadre
{
    width:150px;
    height:150px;

}

.imagemin{
    max-height:150px;
    max-width:150px;
 

}

.imagecaro{

    max-width:800px;

}

.utilisateurs
{
    width:11%;
}

.titrealbum
{
    width:11%;
}

.titrephoto
{
    width:12%;
}

.description
{
    width:20%;
}

.dateajout
{
    width:15%;
}

.datemodif
{
    width:12%;
}

options
{
    width:10%;
}

.formulaire input{

    width:90%;
}
#myCarousel{
    height:400px;
    width:800px;
    margin: 0 auto;

}

.nav{

}